.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.heading_section {
  margin-top: 75px;
}

.cards_section {
  margin-top: 140px;
  padding-bottom: 300px;
}

.main::-webkit-scrollbar {
  display: none;
}
